/Java code Netbeans/JavaEj/nbproject/private/
/Java code Netbeans/JavaEj/build/
/Java code Netbeans/Guia3/nbproject/private/
/Java code Netbeans/Guia3/build/
/Java code Netbeans/Guia4/nbproject/private/
/Java code Netbeans/Guia5/nbproject/private/
/Java code Netbeans/Guia5/build/
/Java code Netbeans/Guia7/nbproject/private/